html, body{
	height: 100%;
	width: 100%;
	font-family: 'poppins', sans-serif;
	color: #222;
}
.navbar{
	padding:  .8rem;
}
.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;

}
.carousel-caption h3{
	font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary{
	background-color: #6648b1;
	border: 1px solid #563d7c;
}
.jumbotron{
	padding: 1rem;
	border-radius: 2px;
}
.padding{
	padding-bottom: 2rem;
}
.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.welcome hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.fun{
	width: 100%;
	margin-bottom: 2rem;
}
.gif{
	max-width: 100%;
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
	color: #d5d5d5;
}
hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
/*---------Media Queries----*/
@media [max-width:992px]{
 .social a{
 	font-size: 4em;
 	padding: 2rem;

 }

}
@media [max-width:768px]{
	
.carousel-caption{
	
	top: 45%;
	}
.carousel-caption h1{
	font-size: 350%;
}
.carousel-caption h3{
	font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
}
.carousel-caption .btn{
	font-size: 90%;
	padding: 8px 8px;
} 
.display-4{
   font-size: 200%;
}
.social a{
	font-size: 2.5em;
	padding: 1.2rem;
}
@media [max-width:576px]{
	.carousel-caption {
		top: 40%;
	}
	.carousel-caption h1{
		font-size: 250%;
	}
	.carousel-caption h3{
		font-size: 110%;
	}
	.carousel-caption  .btn{
		font-size: 95%;
		padding: 4px 14px;
	}
	.carousel-indicators{
		display: none;
	}
	.display-4{
		font-size: 160px;
	}
	.social a{
		font-size: 2em;
		padding: .7rem
	}

}
